.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.75);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border: 1px solid #dcdcdc;
  width: 500px;
  z-index: 9999;
  border-radius: 3px;
}

.modal-header,
.modal-content,
.modal-footer {
  padding: 15px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-title {
  font-weight: bold;
  font-size: 16px;
  color: red;
}

.modal-footer .btn {
  font-size: 12px;
}

@media (max-width: 768px) {
  .modal {
    width: 90%;
  }
}
